
.idea/modules.xml
.idea/vcs.xml
.idea/dier-collection.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/workspace.xml
*.SCA
.vs/dier-collection/project-colors.json
.vs/dier-collection/v17/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
